<div class="center">
  <kendo-grid [data]="gridData" [height]="600" [pageable]="true" [pageSize]="10" [resizable]="true">
    <kendo-grid-column field="puesto.puestoId" title="Cód." width="100">
    </kendo-grid-column>
    <kendo-grid-column field="puestoIdOficial" title="Código oficial" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipo.nombreCompleto" title="Puesto tipo">
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipo.nombre" title="Denominación" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="tipoVinculo.nombre" title="TP" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="catalogo.nombre" title="Catálogo" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="adscripción.nombre" title="Adscripción administración" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Id" title="G1" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="grupo2Id" title="G2" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="cuerpo.nombre" title="Cuerpo" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="formaProvision.nombre" title="Forma provisión" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Importe" title="Grupo (€)" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoId" title="ND" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoImporte" title="ND (€)" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoId" title="CE" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoImporte" title="CE (€)" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="dotaciones" title="Dot" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="ocupantes" title="Ocupantes" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="vacantes" title="Vacantes" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="dotado" title="Dotado" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="singularizado" title="PS" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="reservadoNacionales" title="RN" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="disponibilidadPlena" title="PD" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="personaDeConfianza" title="PC" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="" title="Titulaciones" width="80">
    </kendo-grid-column>


    <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>