<div class="center">
  <kendo-grid [data]="gridView" [height]="600" [resizable]="true" [pageable]="true" [skip]="skip" [pageSize]="pageSize"
    (pageChange)="pageChange($event)" [sortable]="{ mode: 'multiple' }" [sort]="sort" (sortChange)="sortChange($event)"
    filterable="menu" [filter]="filter" [groupable]="showGroup" (dataStateChange)="dataStateChange($event)"
    (groupChange)="groupChange($event)" [columnMenu]="{ lock: false , columnChooser: false, filter: {expanded: true}}"
    (add)="addHandler($event)" (edit)="editHandler($event)" (save)="saveHandler($event)"
    (remove)="removeHandler($event)" (cancel)="cancelHandler($event)">


    <kendo-grid-messages [groupPanelEmpty]="'Arrastra una columna a esta barra para agrupar'"></kendo-grid-messages>

    <kendo-grid-column media="xs" title="Puestos">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <!-- template for mobile -->

        <h4 [class.discontinued]="dataItem.Discontinued">
          {{ dataItem.puestoId }}
        </h4>
        <dl>
          <dt>Código oficial</dt>
          <dd>{{ dataItem.puestoIdOficial }}</dd>

          <dt>Denominación</dt>
          <dd>{{ dataItem.puestoTipo?.nombre }}</dd>

          <dt>Inicio Fecha Vigencia</dt>
          <dd>{{ dataItem.fechaVigenciaInicio | date }}</dd>

          <dt>Disponibilidad</dt>
          <dd><input type="checkbox" [checked]="dataItem.disponibilidadPlena" disabled /></dd>
        </dl>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>

      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridToolbarTemplate class="k-toolbarRight">
      <div kendoGridAddCommand class="k-icon k-i-plus-circle">
        <span class="k-icon k-i-plus-circle" matTooltip="Añadir nuevo puesto"></span>
      </div>
      <kendo-grid-spacer></kendo-grid-spacer>
      <!--a partir de aqui se coloca a la derecha -->
      <input type="text" *ngIf="shown" placeholder="Buscar puesto..." kendoTextBox
        (input)="onFilter($event.target.value)">
      <button class="k-icon k-i-zoom button2" (click)="onShow()"></button>
      <button class="k-icon k-i-table-row-insert-above button2" (click)="groupShow()"></button>
      <div kendoGridExcelCommand class="k-bare">
        <button class="k-icon k-i-download button2"></button>
      </div>
      <kendo-grid-column-chooser matTooltip="Mostrar columnas"></kendo-grid-column-chooser>
    </ng-template>

    <kendo-grid-command-column title="" [width]="105" media="md">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand>
          <span class="k-icon k-i-table-properties"></span>
        </button>
        <button kendoGridRemoveCommand>
          <span class="k-icon k-i-delete k-i-trash"></span>
        </button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
          <span *ngIf="isNew" class="k-icon k-i-edit-tools"></span>
          <span *ngIf="!isNew" class="k-icon k-i-edit k-i-pencil"></span>
          <!--{{ isNew ? "Add" : "Update" }}-->
        </button>
        <button kendoGridCancelCommand>
          <span class="k-icon k-i-close-outline k-i-x-outline k-i-error"></span>
        </button>
      </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-column field="puestoId" title="Código" width="95" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="puestoIdOficial" title="Código oficial" width="135" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipo.nombreCompleto" title="Puesto tipo" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="nombre" title="Denominación" width="140" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="fechaVigenciaInicio" title="Inicio Fecha Vigencia" [width]="400" filter="date" media="md" editor="date">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.fechaVigenciaInicio | date}}
      </ng-template>
      
    </kendo-grid-column>
    <kendo-grid-column type="checkbox" field="disponibilidadPlena" title="Disponibilidad" [width]="80" filter="boolean" editor="boolean"
      media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.disponibilidadPlena" disabled />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="tipoVinculo.nombre" title="TP" width="120" media="md">
      <!-- <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.tipoVinculo?.nombre }}
      </ng-template> -->

    </kendo-grid-column>
    <kendo-grid-column field="grupo1Id" title="G1" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="grupo2Id" title="G2" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="cuerpo.nombre" title="Cuerpo" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="formaProvision.nombre" title="Forma provisión" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Importe" title="Grupo (€)" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoId" title="ND" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoImporte" title="ND (€)" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoId" title="CE" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoImporte" title="CE (€)" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="dotaciones" title="Dot" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="ocupantes" title="Ocupantes" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="vacantes" title="Vacantes" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="dotado" title="Dotado" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="singularizado" title="PS" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="reservadoNacionales" title="RN" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="disponibilidadPlena" title="PD" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="personaDeConfianza" title="PC" width="80" media="md">
    </kendo-grid-column>
    <kendo-grid-column field="" title="Titulaciones" width="80" media="md">
    </kendo-grid-column>




    <kendo-grid-column field="Discontinued" title="Discontinued" width="120" media="md">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-excel fileName="Puestos.xlsx"></kendo-grid-excel>

  </kendo-grid>
</div>